.clientRegister {
    margin: 0 20px;

    #phoneFields {

        >div {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            >div {
                display: flex;
                flex-direction: column;
            }

            button {
                color: white;
                background: red;
                font-size: 30px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 3px;
                padding-bottom: 5px;
                position: absolute;
                right: -50px;
                top: 43px;

                @media (max-width: 450px) {
                    right: -35px;
                }

                @media (max-width: 410px) {
                    top: 0;
                    right: 0;
                }
            }

            .plus__btn {
                background: green;
            }
        }
    }

    &__tabs {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        @media (max-width: 470px) {
            flex-direction: column;
        }

        >li {
            width: 50%;
            height: 50px;
            border-radius: 10px;
            border-left: none;
            background: white;
            overflow: hidden;
            position: relative;

            @media (max-width: 470px) {
                width: 100%;
            }

            >a {
                text-decoration: none;
                color: black;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                padding: 0 20px;
                outline: none;
                height: 100%;

                @media (max-width: 1050px) {
                    font-size: 20px;
                }

                @media (max-width: 950px) {
                    text-align: center;
                }

                &:hover {
                    background: #ffb6725b;
                }
            }

            &.active>a {
                background: linear-gradient(85.93deg, #F68820 1.7%, #FFB672 100%);
                color: white;
            }
        }
    }

    &__content {
        margin-top: 20px;
        padding-bottom: 20px;

        @media (max-width: 800px) {
            padding-bottom: 120px;
        }

        &-block {

            h1 {
                color: $main-color;
                font-size: 30px;
                text-align: center;
                margin-bottom: 50px;

                @media (max-width: 900px) {
                    margin-top: 20px;
                }

                @media (max-width: 550px) {
                    font-size: 25px;
                }
            }

            .registration {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                @media (max-width: 880px) {
                    gap: 25px;
                }

                &__content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    margin-top: 50px;

                    @media (max-width: 970px) {
                        gap: 20px;
                    }

                    @media (max-width: 880px) {
                        flex-direction: column;
                        margin-top: 0;
                    }

                    >form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    &-block {
                        display: grid;
                        grid-template-columns: auto auto;
                        gap: 20px;
                        margin-top: 20px;

                        @media (max-width: 1130px) {
                            grid-template-columns: auto;
                        }

                        >div {
                            display: flex;
                            flex-direction: column;
                        }

                        .freeBlock {

                            >input {
                                background: #CAFFFF;
                            }

                            >select {
                                background: #CAFFFF;
                            }
                        }

                        .readonlyBlock {

                            >input {
                                background: #FEFF99;
                            }
                        }

                        label {
                            font-size: 20px;
                            margin-bottom: 10px;

                            >span {
                                color: red;
                            }
                        }

                        select {
                            width: 400px;
                            height: 50px;
                            font-size: 18px;
                            padding: 0 10px;
                            border-radius: 10px;
                            border: 2px solid #D8D8D8;

                            @media (max-width: 1100px) {
                                width: 300px;
                            }

                            @media (max-width: 365px) {
                                width: 280px;
                            }
                        }

                        input {
                            width: 400px;
                            height: 50px;
                            font-size: 18px;
                            padding: 0 10px;
                            border-radius: 10px;
                            border: 2px solid #D8D8D8;

                            @media (max-width: 1100px) {
                                width: 300px;
                            }

                            @media (max-width: 365px) {
                                width: 280px;
                            }
                        }
                    }
                }



                .register__btn {
                    color: white;
                    background: #F68820;
                    width: 300px;
                    height: 50px;
                    font-size: 20px;
                    border: 2px solid #F68820;
                    border-radius: 10px;
                    margin-top: 50px;
                    transition: all .2s linear;

                    &:hover {
                        background: white;
                        color: #F68820;
                        border: 2px solid #F68820;
                        box-shadow: 0px 0px 10px #F68820;
                        cursor: pointer;
                    }
                }
            }
        }

        .table__block {
            background: white;
            box-shadow: 0px 0px 20px 0px #FFFFFF40;
            border-radius: 10px;
            padding: 20px;
        }
    }

    .client__table {
        background: white;
        box-shadow: 0px 0px 20px 0px #FFFFFF40;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;

        >h3 {
            color: $main-color;
            font-size: 30px;
            text-align: center;
        }
    }

    .clientRegister__table {

        >thead {

            >tr {

                >th {
                    color: #333B4F;
                    border: 1px solid #AEAEAE;
                    text-align: center !important;
                    background: #FFF4E2;
                    text-wrap: nowrap !important;

                    @media (max-width: 1000px) {
                        position: relative !important;
                        left: 0 !important;
                    }
                }
            }
        }

        >tbody {

            @media (max-width: 470px) {
                width: 100%;
            }

            >tr {

                >td {
                    color: #333B4F;
                    background: white;
                    border: 1px solid #AEAEAE !important;
                    text-align: center !important;
                    padding: 15px 10px !important;
                    font-weight: 500;
                    text-wrap: nowrap !important;

                    @media (max-width: 1000px) {
                        position: relative !important;
                        left: 0 !important;
                    }

                    @media (max-width: 950px) {
                        text-wrap: wrap !important;
                    }

                    @media (max-width: 470px) {
                        flex-direction: column;
                    }

                    >a {

                        >button {
                            color: white;
                            background: #F68820;
                            font-size: 16px;
                            border: 1px solid #F68820;
                            border-radius: 50px;
                            padding: 10px 10px;
                            transition: all .2s linear;

                            &:hover {
                                color: #F68820;
                                background: white;
                                border: 1px solid #F68820;
                                box-shadow: 0px 0px 10px #F68820;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .clientSchedule-text {
                    width: 200px;
                    overflow: hidden;
                    cursor: pointer;

                    &.active {
                        text-wrap: wrap !important;
                    }
                }

                .number {

                    >span {
                        color: white;
                        padding: 10px 15px;
                        border-radius: 5px;
                        font-weight: 700;
                    }
                }

                .object {

                    >span {
                        color: #3A5372;
                        background: #FFB168;
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-weight: 700;
                    }
                }

                .price {

                    >span {
                        color: #3A5372;
                        background: #88EDB6;
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-weight: 700;
                    }
                }

                .disPrice {

                    >span {
                        color: white;
                        background: #00AC4F;
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .clientRegister__filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        background: white;
        box-shadow: 0px 0px 20px 0px #FFFFFF40;
        border-radius: 10px;
        padding: 50px 20px;

        @media (max-width: 405px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        >h2 {
            color: $main-color;
            font-size: 30px;
            text-align: center;
        }

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            >div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media (max-width: 405px) {
                    width: 100%;
                }

                >label {
                    font-size: 20px;
                }

                >select {
                    width: 150px;
                    height: 40px;
                    border: 2px solid #333B4F;
                    border-radius: 9.21px;
                    font-size: 18px;

                    @media (max-width: 405px) {
                        width: 100%;
                    }
                }
            }

        }
    }


    .dt-start {
        display: none !important;
    }

    .dt-search {
        margin-top: 30px !important;
        margin-bottom: 10px;

        >input {
            font-size: 20px;
        }
    }
}